<footer class="home-footer">
  <section class="home-footer-top">
    <div class="container">
      <div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap">
        <div fxFlex="40" class="footer-box">
          <h4 class="footer-box-title"><b>About Speedy Finances</b></h4>
          <p>
            Speedy finances is the financial system for managing and reporting financial information's to Microfinances, SACCOS and other financial
            institutions using mobile phones.
          </p>
          <!--<button mat-raised-button color="accent">Contact Us</button>-->
        </div>
        <div fxFlex="35" class="footer-box">
          <h4 class="footer-box-title"><b>Contact</b></h4>
          <mat-list>
            <mat-list-item>
              <mat-icon mat-list-icon color="accent">email</mat-icon>
              <h5 matLine><b>National Program Manager</b></h5>
              <p matLine>+255 767 600 460</p>
            </mat-list-item>
            <mat-list-item>
              <mat-icon mat-list-icon color="accent">location_on</mat-icon>
              <h5 matLine><b>Adress</b></h5>
              <p matLine>Tanzania Mentors Action Building, Itega</p>
              <p matLine>P.O Box 4278 Dodoma</p>
            </mat-list-item>
          </mat-list>
        </div>
        <div fxFlex="25" class="footer-box">
          <h4 class="footer-box-title"><b>Disclaimer</b></h4>
          <p>Speedy Finances is not responsible for correctness of your data you enter, but rather provide a room for management and operations</p>
          <div class="socials pt-1">
            <ul>
              <li><a href="" class="social-icon linkedin"></a></li>
              <li><a href="" class="social-icon twitter"></a></li>
              <li><a href="" class="social-icon facebook"></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
</footer>
