<mat-card class="mat-elevation-z0">
  <mat-card-title>
    <mat-toolbar>
      <span>{{'budget-form'|translate}}</span>&nbsp;&nbsp;|&nbsp;&nbsp;Revenue Projection: <span class="text-success"><strong>{{totalRevenueProjection()|number:'.2'}}</strong></span>&nbsp;&nbsp;|&nbsp;&nbsp;Expenditure Estimates: <span class="text-success"><strong>{{totalExpenditureEstimate()|number:'.2'}}</strong></span>
      <span class="custom-spacer"></span>
      <button mat-icon-button color="warn" type="button" (click)="close()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-toolbar>
  </mat-card-title>
  <mat-card-content>
    <mat-horizontal-stepper [linear]="true" #stepper>
      <mat-step [stepControl]="headFormGroup">
        <ng-template matStepLabel>Budget Details</ng-template>
        <div class="row my-3">
          <div class="col-6">
            <p>{{'committee-budget-document'|translate}}</p>
            <div class="custom-file mb-3">
              <input type="file" placeholder="Receipt" aria-label="Document" aria-describedby="path" [formControl]="boardBudgetDocumentControl"
                     accept=".pdf"
                     (change)="onFileChange($event)" id="boardBudgetDocumentControl" name="boardBudgetDocumentControl">
            </div>
          </div>
          <div class="col-6">
            <mat-form-field appearance="outline">
              <mat-label>{{'name'|translate}}</mat-label>
              <input matInput placeholder="{{'name'|translate}}" [formControl]="nameControl" required>
              <mat-error *ngIf="!nameControl.valid && nameControl.touched">
                {{'required'|translate}}
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div>
          <button mat-raised-button color="primary" [disabled]="nameControl.invalid || boardBudgetDocumentControl.invalid" matStepperNext>Next</button>
        </div>
      </mat-step>
      <mat-step [stepControl]="revenueProjectionFormGroup">
        <ng-template matStepLabel>{{'revenue-projection'|translate}}</ng-template>
        <div class="row my-3">
          <div class="col-4">
            <mat-form-field appearance="outline">
              <mat-label>{{'item'|translate}}</mat-label>
              <mat-icon matPrefix>search</mat-icon>
              <input matInput placeholder="{{'item'|translate}}"
                     (keyup)="filterIncomeSources($event.target.value)" (focusout)="checkRevenueProjectionItem()" [matAutocomplete]="revenueAutocomplete"
                     [formControl]="revenueProjectionItemControl">
              <mat-autocomplete #revenueAutocomplete="matAutocomplete" (optionSelected)="setRevenueProjectionDescription()" [displayWith]="displayRevenueProjectionItem">
                <mat-option *ngFor="let incomeSource of incomeSources" [value]="incomeSource">
                  {{ incomeSource.code }} - {{ incomeSource.name }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
          <div class="col-3">
            <mat-form-field appearance="outline">
              <mat-label>{{'description'|translate}}</mat-label>
              <input matInput placeholder="{{'description'|translate}}" (keyup.enter)="addRevenueProjectionItem()"
                     name="description"
                     [formControl]="revenueProjectionDescriptionControl"/>
            </mat-form-field>
          </div>
          <div class="col-2">
            <mat-form-field appearance="outline">
              <mat-label>{{'amount'|translate}}</mat-label>
              <input matInput placeholder="{{'amount'|translate}}" currencyMask (keyup.enter)="addRevenueProjectionItem()"
                     name="amount"
                     [formControl]="revenueProjectionAmountControl"/>
            </mat-form-field>
          </div>
          <div class="col-2">
            <mat-form-field appearance="outline">
              <mat-label>{{'actual-amount'|translate}}</mat-label>
              <input matInput placeholder="{{'actual-amount'|translate}}" currencyMask (keyup.enter)="addRevenueProjectionItem()"
                     name="actual"
                     [formControl]="revenueProjectionActualAmountControl"/>
            </mat-form-field>
          </div>
          <div class="col-1">
            <button mat-button color="primary" type="button" class="my-2"
                    [disabled]="!revenueProjectionItemControl.value || !revenueProjectionDescriptionControl.value || !revenueProjectionAmountControl.value"
                    (click)="addRevenueProjectionItem()">
              <mat-icon svgIcon="add"></mat-icon>
            </button>
          </div>
        </div>
        <div class="row" *ngIf="totalRevenueProjection() > 0">
          <div class="col-12">
            <mat-card class="mat-elevation-z0">
              <mat-card-title>{{'products'|translate}}</mat-card-title>
              <mat-card-content>
                <table mat-table [dataSource]="revenueProjectionDataSource" class="mat-elevation-z0">
                  <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef>#</th>
                    <td mat-cell *matCellDef="let transaction;index as i">{{i + 1}}</td>
                    <td mat-footer-cell *matFooterCellDef></td>
                  </ng-container>
                  <ng-container matColumnDef="source">
                    <th mat-header-cell *matHeaderCellDef>{{'source'|translate}}</th>
                    <td mat-cell *matCellDef="let transaction"> {{transaction.input?.name}} </td>
                    <td mat-footer-cell *matFooterCellDef></td>
                  </ng-container>
                  <ng-container matColumnDef="description">
                    <th mat-header-cell *matHeaderCellDef>{{'description'|translate}}</th>
                    <td mat-cell *matCellDef="let transaction"> {{transaction.description}} </td>
                    <td mat-footer-cell *matFooterCellDef><strong>Total:</strong></td>
                  </ng-container>
                  <ng-container matColumnDef="amount">
                    <th mat-header-cell *matHeaderCellDef>{{'amount'|translate}}</th>
                    <td mat-cell *matCellDef="let transaction">{{transaction.amount|number:'.2'}} </td>
                    <td mat-footer-cell *matFooterCellDef>
                      <strong>{{totalRevenueProjection()|number:'.2'}}</strong>
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="actual">
                    <th mat-header-cell *matHeaderCellDef>{{'actual'|translate}}</th>
                    <td mat-cell *matCellDef="let transaction">{{transaction.actual|number:'.2'}} </td>
                    <td mat-footer-cell *matFooterCellDef>
                      <strong>{{totalActualRevenue()|number:'.2'}}</strong>
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="remove">
                    <th mat-header-cell *matHeaderCellDef>{{'remove'|translate}}</th>
                    <td mat-cell *matCellDef="let transaction;let i = index">
                      <button mat-button color="primary" (click)="deleteRevenueProjectionItem(i)">
                        <mat-icon>close</mat-icon>
                      </button>
                    </td>
                    <td mat-footer-cell *matFooterCellDef></td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="revenueProjectionColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: revenueProjectionColumns;"></tr>
                  <tr mat-footer-row *matFooterRowDef="revenueProjectionColumns"></tr>
                </table>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
        <div class="my-3">
          <button mat-raised-button matStepperPrevious>
            <mat-icon>navigate_before</mat-icon>
            Back
          </button>
          <button mat-raised-button matStepperNext class="mx-3" color="primary"
                  *ngIf="(totalRevenueProjection() > 0)">
            <mat-icon>navigate_next</mat-icon>
            Next
          </button>
        </div>
      </mat-step>
      <mat-step [stepControl]="expenditureEstimateFormGroup">
        <ng-template matStepLabel>{{'expenditure-estimates'|translate}}</ng-template>
        <div class="row my-3">
          <div class="col-3">
            <mat-form-field appearance="outline">
              <mat-label>{{'item'|translate}}</mat-label>
              <mat-icon matPrefix>search</mat-icon>
              <input matInput placeholder="{{'item'|translate}}"
                     (keyup)="filterExpenditureCategories($event.target.value)" (focusout)="checkExpenditureEstimateItem()" [matAutocomplete]="expenditureCategoryAutoComplete"
                     [formControl]="expenditureEstimateItemControl">
              <mat-autocomplete #expenditureCategoryAutoComplete="matAutocomplete" (optionSelected)="setExpenditureEstimateDescription()"
                                [displayWith]="displayExpenditureEstimateItem">
                <mat-option *ngFor="let expenseCategory of expenditureCategories" [value]="expenseCategory">
                  {{ expenseCategory.code }} - {{ expenseCategory.name }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
          <div class="col-3">
            <mat-form-field appearance="outline">
              <mat-label>{{'description'|translate}}</mat-label>
              <input matInput placeholder="{{'description'|translate}}" (keyup.enter)="addExpenditureEstimateItem()"
                     [formControl]="expenditureEstimateDescriptionControl"/>
            </mat-form-field>
          </div>
          <div class="col-2">
            <mat-form-field appearance="outline">
              <mat-label>{{'amount'|translate}}</mat-label>
              <input matInput placeholder="{{'amount'|translate}}" (keyup.enter)="addExpenditureEstimateItem()" currencyMask name="amount"
                     [formControl]="expenditureEstimateAmountControl"/>
            </mat-form-field>
          </div>
          <div class="col-2">
            <mat-form-field appearance="outline">
              <mat-label>{{'actual-amount'|translate}}</mat-label>
              <input matInput placeholder="{{'actual-amount'|translate}}" (keyup.enter)="addExpenditureEstimateItem()" currencyMask name="actual"
                     [formControl]="expenditureEstimateActualAmountControl"/>
            </mat-form-field>
          </div>
          <div class="col-2">
            <button mat-button color="primary" type="button" class="my-2"
                    [disabled]="!expenditureEstimateItemControl.value || !expenditureEstimateAmountControl.value || expenditureEstimateDescriptionControl.invalid" (click)="addExpenditureEstimateItem()">
              <mat-icon svgIcon="add"></mat-icon>
            </button>
          </div>
        </div>
        <div class="row" *ngIf="totalExpenditureEstimate() > 0">
          <div class="col-12">
            <mat-card class="mat-elevation-z0">
              <mat-card-title>{{'payment-methods'|translate}}</mat-card-title>
              <mat-card-content>
                <table mat-table [dataSource]="expenditureEstimateDataSource" class="mat-elevation-z0">
                  <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef>#</th>
                    <td mat-cell *matCellDef="let transaction;index as i">{{i + 1}}</td>
                    <td mat-footer-cell *matFooterCellDef></td>
                  </ng-container>
                  <ng-container matColumnDef="item">
                    <th mat-header-cell *matHeaderCellDef>{{'item'|translate}}</th>
                    <td mat-cell *matCellDef="let transaction"> {{transaction.input?.name}} </td>
                    <td mat-footer-cell *matFooterCellDef>
                      <strong>Total</strong>
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="description">
                    <th mat-header-cell *matHeaderCellDef>{{'description'|translate}}</th>
                    <td mat-cell *matCellDef="let transaction"> {{transaction.description}} </td>
                    <td mat-footer-cell *matFooterCellDef><strong>Total:</strong></td>
                  </ng-container>
                  <ng-container matColumnDef="amount">
                    <th mat-header-cell *matHeaderCellDef>{{'amount'|translate}}</th>
                    <td mat-cell *matCellDef="let transaction">{{transaction.amount|number:'.2'}} </td>
                    <td mat-footer-cell *matFooterCellDef>
                      <strong>
                        {{totalExpenditureEstimate()|number:'.2'}}
                      </strong>
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="actual">
                    <th mat-header-cell *matHeaderCellDef>{{'actual'|translate}}</th>
                    <td mat-cell *matCellDef="let transaction">{{transaction.actual|number:'.2'}} </td>
                    <td mat-footer-cell *matFooterCellDef>
                      <strong>
                        {{totalActualExpense()|number:'.2'}}
                      </strong>
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="remove">
                    <th mat-header-cell *matHeaderCellDef>{{'remove'|translate}}</th>
                    <td mat-cell *matCellDef="let transaction;let i = index">
                      <button mat-button color="primary" (click)="deleteExpenditureEstimateItem(i)">
                        <mat-icon>close</mat-icon>
                      </button>
                    </td>
                    <td mat-footer-cell *matFooterCellDef></td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="expenditureEstimateColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: expenditureEstimateColumns;"></tr>
                  <tr mat-footer-row *matFooterRowDef="expenditureEstimateColumns"></tr>
                </table>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
        <div>
          <button mat-raised-button matStepperPrevious>
            <mat-icon>navigate_before</mat-icon>
            Back
          </button>
          <button mat-raised-button matStepperNext class="mx-3" color="primary"
                  *ngIf="(totalRevenueProjection() > 0 && totalExpenditureEstimate() > 0)">
            <mat-icon>navigate_next</mat-icon>
            Next
          </button>
        </div>
      </mat-step>
      <mat-step [stepControl]="extraOrdinaryRevenueFormGroup">
        <ng-template matStepLabel>{{'extra-ordinary-revenue-sources'|translate}}</ng-template>
        <div class="row my-3">
          <div class="col-3">
            <mat-form-field appearance="outline">
              <mat-label>{{'item'|translate}}</mat-label>
              <mat-icon matPrefix>search</mat-icon>
              <input matInput placeholder="{{'item'|translate}}"
                     (keyup)="filterExtraOrdinaryRevenue($event.target.value)" (focusout)="checkExtraOrdinaryRevenueProjectionItem()" [matAutocomplete]="extraOrdinaryComplete"
                     [formControl]="extraOrdinaryRevenueProjectionItemControl">
              <mat-autocomplete #extraOrdinaryComplete="matAutocomplete" [displayWith]="displayExtraOrdinaryRevenueProjectionItem">
                <mat-option *ngFor="let extraOrdinaryRevenue of extraOrdinaryRevenues" [value]="extraOrdinaryRevenue">
                  {{ extraOrdinaryRevenue.code }} - {{ extraOrdinaryRevenue.name }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
          <div class="col-3">
            <mat-form-field appearance="outline">
              <mat-label>{{'description'|translate}}</mat-label>
              <input matInput placeholder="{{'description'|translate}}" (keyup.enter)="addExtraOrdinaryRevenueProjectionItem()"
                     [formControl]="extraOrdinaryRevenueProjectionDescriptionControl"/>
            </mat-form-field>
          </div>
          <div class="col-2">
            <mat-form-field appearance="outline">
              <mat-label>{{'amount'|translate}}</mat-label>
              <input matInput placeholder="{{'amount'|translate}}" (keyup.enter)="addExtraOrdinaryRevenueProjectionItem()" currencyMask name="amount"
                     [formControl]="extraOrdinaryRevenueProjectionAmountControl"/>
            </mat-form-field>
          </div>
          <div class="col-2">
            <mat-form-field appearance="outline">
              <mat-label>{{'actual-amount'|translate}}</mat-label>
              <input matInput placeholder="{{'actual-amount'|translate}}" (keyup.enter)="addExtraOrdinaryRevenueProjectionItem()" currencyMask name="actual"
                     [formControl]="extraOrdinaryRevenueProjectionActualAmountControl"/>
            </mat-form-field>
          </div>
          <div class="col-2">
            <button mat-button color="primary" type="button" class="my-2"
                    [disabled]="!extraOrdinaryRevenueProjectionItemControl.value || !extraOrdinaryRevenueProjectionAmountControl.value || !extraOrdinaryRevenueProjectionDescriptionControl.value" (click)="addExtraOrdinaryRevenueProjectionItem()">
              <mat-icon svgIcon="add"></mat-icon>
            </button>
          </div>
        </div>
        <div class="row" *ngIf="totalExtraOrdinaryRevenueProjection() > 0">
          <div class="col-12">
            <mat-card class="mat-elevation-z0">
              <mat-card-title>{{'extra-ordinary-revenue-sources'|translate}}</mat-card-title>
              <mat-card-content>
                <table mat-table [dataSource]="extraOrdinaryRevenueProjectionDataSource" class="mat-elevation-z0">
                  <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef>#</th>
                    <td mat-cell *matCellDef="let transaction;index as i">{{i + 1}}</td>
                    <td mat-footer-cell *matFooterCellDef></td>
                  </ng-container>
                  <ng-container matColumnDef="item">
                    <th mat-header-cell *matHeaderCellDef>{{'item'|translate}}</th>
                    <td mat-cell *matCellDef="let transaction"> {{transaction.input?.name}} </td>
                    <td mat-footer-cell *matFooterCellDef>
                      <strong>Total</strong>
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="description">
                    <th mat-header-cell *matHeaderCellDef>{{'description'|translate}}</th>
                    <td mat-cell *matCellDef="let transaction"> {{transaction.description}} </td>
                    <td mat-footer-cell *matFooterCellDef><strong>Total:</strong></td>
                  </ng-container>
                  <ng-container matColumnDef="amount">
                    <th mat-header-cell *matHeaderCellDef>{{'amount'|translate}}</th>
                    <td mat-cell *matCellDef="let transaction">{{transaction.amount|number:'.2'}} </td>
                    <td mat-footer-cell *matFooterCellDef>
                      <strong>
                        {{totalExtraOrdinaryRevenueProjection()|number:'.2'}}
                      </strong>
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="actual">
                    <th mat-header-cell *matHeaderCellDef>{{'actual'|translate}}</th>
                    <td mat-cell *matCellDef="let transaction">{{transaction.actual|number:'.2'}} </td>
                    <td mat-footer-cell *matFooterCellDef>
                      <strong>
                        {{totalActualExtraOrdinaryRevenue()|number:'.2'}}
                      </strong>
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="remove">
                    <th mat-header-cell *matHeaderCellDef>{{'remove'|translate}}</th>
                    <td mat-cell *matCellDef="let transaction;let i = index">
                      <button mat-button color="primary" (click)="deleteExtraOrdinaryRevenueProjectionItem(i)">
                        <mat-icon>close</mat-icon>
                      </button>
                    </td>
                    <td mat-footer-cell *matFooterCellDef></td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="extraOrdinaryRevenueProjectionColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: extraOrdinaryRevenueProjectionColumns;"></tr>
                  <tr mat-footer-row *matFooterRowDef="extraOrdinaryRevenueProjectionColumns"></tr>
                </table>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
        <div>
          <button mat-raised-button matStepperPrevious>
            <mat-icon>navigate_before</mat-icon>
            Back
          </button>
          <button mat-raised-button matStepperNext class="mx-3" color="primary"
                  *ngIf="(totalRevenueProjection() > 0 && totalExpenditureEstimate() > 0)">
            <mat-icon>navigate_next</mat-icon>
            Next
          </button>
        </div>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Done!</ng-template>
        <div>
          <button mat-raised-button matStepperPrevious>
            <mat-icon>navigate_before</mat-icon>
            Back
          </button>
          <button mat-raised-button color="warn" class="mx-3" (click)="stepper.reset()">
            <mat-icon>settings_backup_restore</mat-icon>
            Reset
          </button>
          <button mat-raised-button matStepperNext color="primary" class="mx-3"
                  (click)="store()">
            <mat-icon>save</mat-icon>
            Submit
          </button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </mat-card-content>
</mat-card>

