<h6 mat-dialog-title>
  <mat-toolbar role="toolbar" class="dialog-header">
    <span>{{'parishioners-upload-form'|translate}}</span>
    <span class="fx-spacer"></span>
    <button mat-icon-button color="warn" (click)="close()">
      <mat-icon mat-list-icon>close</mat-icon>
    </button>
  </mat-toolbar>
</h6>
<div mat-dialog-content>
  <div class="row">
    <div class="col-12">
      <button class="btn text-primary" (click)="downloadUploadTemplate()"><i class="fa fa-download"></i> Download Template</button>
    </div>
  </div>
  <div class="row my-2">
    <div class="col-10 form-group">
      <input type="file" class="form-control" (change)="uploadedFile($event)" placeholder="Upload file" accept=".xlsx">
    </div>
    <div class="col-2 form-group">
      <button mat-raised-button color="primary" *ngIf="fileUploaded" (click)="preview()">
        <mat-icon>preview</mat-icon>
        {{'preview-data'|translate}}
      </button>
    </div>
  </div>
  <div class="row" *ngIf="dataSource.data.length > 0">
    <div class="col-12">
      <div class="mat-elevation-z0">
        <table mat-table [dataSource]="dataSource">
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>#</th>
            <td mat-cell *matCellDef="let element;index as i"> {{i+1}} </td>
          </ng-container>
          <ng-container matColumnDef="firstName">
            <th mat-header-cell *matHeaderCellDef>{{'first-name'|translate}}</th>
            <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
          </ng-container>
          <ng-container matColumnDef="middleName">
            <th mat-header-cell *matHeaderCellDef>{{'middle-name'|translate}}</th>
            <td mat-cell *matCellDef="let element"> {{element.middleName}} </td>
          </ng-container>

          <ng-container matColumnDef="surname">
            <th mat-header-cell *matHeaderCellDef>{{'surname'|translate}}</th>
            <td mat-cell *matCellDef="let element"> {{element.surname}} </td>
          </ng-container>

          <ng-container matColumnDef="mobile">
            <th mat-header-cell *matHeaderCellDef>{{'mobile'|translate}}</th>
            <td mat-cell *matCellDef="let element"> {{element.mobile}} </td>
          </ng-container>

          <ng-container matColumnDef="cardNumber">
            <th mat-header-cell *matHeaderCellDef>{{'card-number'|translate}}</th>
            <td mat-cell *matCellDef="let element"> {{element.cardNumber}} </td>
          </ng-container>

          <ng-container matColumnDef="gender">
            <th mat-header-cell *matHeaderCellDef>{{'gender'|translate}}</th>
            <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
          </ng-container>

          <ng-container matColumnDef="location">
            <th mat-header-cell *matHeaderCellDef>{{'location'|translate}}</th>
            <td mat-cell *matCellDef="let element"> {{element.locationCode}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </div>
  </div>
</div>
<div mat-dialog-actions class="my-3" *ngIf="dataSource.data.length > 0">
  <mat-toolbar role="toolbar" class="dialog-header">
    <span></span>
    <span class="fx-spacer"></span>
    <button mat-raised-button color="primary" (click)="upload()">
      <mat-icon>upload</mat-icon> Upload
    </button>
  </mat-toolbar>
</div>


