<mat-card class="mat-elevation-z0" *ngIf="getItems()|async">
  <mat-card-title>
    <mat-toolbar>
      <span>{{'strategies'|translate}}</span>
      <span class="custom-spacer"></span>
      <button mat-button color="primary" (click)="form()" [disabled]="!target" matTooltip="Create">
        <mat-icon svgIcon="add"></mat-icon>
      </button>
    </mat-toolbar>
  </mat-card-title>
  <mat-card-content>
    <div class="mat-elevation-z0">
      <div class="row">
        <div class="col-2">
          <mat-form-field appearance="outline">
            <mat-icon matPrefix>search</mat-icon>
            <mat-label>{{'financial-year'|translate}}</mat-label>
            <input matInput autocomplete="off" placeholder="{{'financial-year'|translate}}" [matAutocomplete]="auto" required
                   [formControl]="financialYearControl"/>
            <mat-error *ngIf="financialYearControl.invalid && financialYearControl.touched">
              {{'required'|translate}}
            </mat-error>
          </mat-form-field>
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="filterByFinancialYear()" [displayWith]="displayFinancialYear">
            <mat-option *ngIf="isLoading" class="is-loading">
              <mat-spinner diameter="50"></mat-spinner>
            </mat-option>
            <ng-container *ngIf="!isLoading">
              <mat-option *ngFor="let financialYear of financialYears" [value]="financialYear">
                <span>{{financialYear.name}}</span>
              </mat-option>
            </ng-container>
          </mat-autocomplete>
        </div>
        <div class="col-3" *ngIf="financialYearControl.value">
          <mat-form-field appearance="outline">
            <mat-label>{{'financial-year-plan'|translate}}</mat-label>
            <mat-select [formControl]="planControl" required (ngModelChange)="filterByPlan($event)">
              <mat-option *ngFor="let plan of plans" [value]="plan">
                {{ plan.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-3" *ngIf="planControl.value">
          <mat-form-field appearance="outline">
            <mat-label>{{'objective'|translate}}</mat-label>
            <mat-select [formControl]="objectiveControl" required (ngModelChange)="filterByObjective($event)">
              <mat-option *ngFor="let objective of objectives" [value]="objective">
                {{ objective.code }} - {{ objective.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-4" *ngIf="objectiveControl.value">
          <mat-form-field appearance="outline">
            <mat-label>{{'target'|translate}}</mat-label>
            <mat-select [formControl]="targetControl" required (ngModelChange)="filterByTarget($event)">
              <mat-option *ngFor="let target of targets" [value]="target">
                {{ target.code }} - {{ target.description }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <table mat-table [dataSource]="getItems()">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>#</th>
          <td mat-cell *matCellDef="let row;let i = index">{{i + 1}}</td>
        </ng-container>

        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef>{{'description'|translate}}</th>
          <td mat-cell *matCellDef="let row">{{row.description}}</td>
        </ng-container>

        <ng-container matColumnDef="code">
          <th mat-header-cell *matHeaderCellDef>{{'code'|translate}}</th>
          <td mat-cell *matCellDef="let row">{{row.code}}</td>
        </ng-container>

        <ng-container matColumnDef="target">
          <th mat-header-cell *matHeaderCellDef>{{'target'|translate}}</th>
          <td mat-cell *matCellDef="let row">{{row.target?.description}}</td>
        </ng-container>

        <ng-container matColumnDef="objective">
          <th mat-header-cell *matHeaderCellDef>{{'objective'|translate}}</th>
          <td mat-cell *matCellDef="let row">{{row.target?.objective?.name}}</td>
        </ng-container>

        <ng-container matColumnDef="year">
          <th mat-header-cell *matHeaderCellDef>{{'year'|translate}}</th>
          <td mat-cell *matCellDef="let row">{{row.target?.objective?.plan?.financialYear?.name}}</td>
        </ng-container>

        <ng-container matColumnDef="manage">
          <th mat-header-cell *matHeaderCellDef>{{'action-and-status'|translate}}</th>
          <td mat-cell *matCellDef="let row;let i = index">
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="More Options">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="form(row)">
                <mat-icon color="primary" svgIcon="edit"></mat-icon>
                <span>{{'edit'|translate}}</span>
              </button>
              <button mat-menu-item (click)="delete(i,row)">
                <mat-icon color="warn" svgIcon="delete"></mat-icon>
                <span>{{'delete'|translate}}</span>
              </button>
              <button mat-menu-item (click)="activities(row)">
                <mat-icon color="warn" svgIcon="list"></mat-icon>
                <span>{{'activities'|translate}}</span>
              </button>
            </mat-menu>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [length]="totalItems" (page)="pageChanged($event)" showFirstLastButtons [pageSizeOptions]="perPageOptions"
                     [pageIndex]="page"
                     [pageSize]="size"></mat-paginator>
    </div>
  </mat-card-content>
</mat-card>
