<mat-card class="mat-elevation-z0" *ngIf="getAccounts()|async">
  <mat-card-title>
    <mat-toolbar>
      <span>{{'accounts'|translate}}</span>
      <span class="custom-spacer"></span>
      <button mat-button color="primary" (click)="create()" matTooltip="Create">
        <mat-icon svgIcon="add"></mat-icon>
      </button>
    </mat-toolbar>
  </mat-card-title>
  <mat-card-content>
    <div class="row">
      <div class="col-md-4">
        <mat-form-field appearance="outline">
          <mat-label>{{'account-type'|translate}}</mat-label>
          <mat-select [formControl]="accountTypeControl" required (ngModelChange)="loadAccountSubTypes($event)">
            <mat-option *ngFor="let accountType of accountTypes" [value]="accountType">
              {{ accountType.code }} - {{ accountType.name }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="accountTypeControl.hasError('required')">
            {{'required'|translate}}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-4" *ngIf="accountTypeControl.value">
        <mat-form-field appearance="outline">
          <mat-label>{{'account-sub-type'|translate}}</mat-label>
          <mat-select [formControl]="accountSubTypeControl" required (ngModelChange)="loadAccountGroups($event)">
            <mat-option *ngFor="let accountSubType of accountSubTypes" [value]="accountSubType">
              {{ accountSubType.code }} - {{ accountSubType.name }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="accountSubTypeControl.hasError('required')">
            {{'required'|translate}}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-4" *ngIf="accountSubTypeControl.value">
        <mat-form-field appearance="outline">
          <mat-label>{{'account-group'|translate}}</mat-label>
          <mat-select [formControl]="accountGroupControl" required (ngModelChange)="loadAccounts($event)">
            <mat-option *ngFor="let accountGroup of accountGroups" [value]="accountGroup">
              {{ accountGroup.code }} - {{ accountGroup.name }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="accountGroupControl.hasError('required')">
            {{'required'|translate}}
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <mat-form-field appearance="outline">
      <input matInput (keyup)="filter($event.target.value)" placeholder="{{'search'|translate}}">
    </mat-form-field>
    <table mat-table [dataSource]="getAccounts()">
      <!-- Number Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>#</th>
        <td mat-cell *matCellDef="let row;let i = index">{{i + 1}}</td>
      </ng-container>

      <ng-container matColumnDef="number">
        <th mat-header-cell *matHeaderCellDef>{{'number'|translate}}</th>
        <td mat-cell *matCellDef="let row">{{row.number}}</td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>{{'name'|translate}}</th>
        <td mat-cell *matCellDef="let row">{{row.name}}</td>
      </ng-container>

      <ng-container matColumnDef="balanceNature">
        <th mat-header-cell *matHeaderCellDef>{{'balance-nature'|translate}}</th>
        <td mat-cell *matCellDef="let row">{{row.balanceNature}}</td>
      </ng-container>

      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef>{{'account-type'|translate}}</th>
        <td mat-cell *matCellDef="let row">{{row.accountGroup?.accountSubType?.accountType?.name}}</td>
      </ng-container>

      <ng-container matColumnDef="subType">
        <th mat-header-cell *matHeaderCellDef>{{'account-sub-type'|translate}}</th>
        <td mat-cell *matCellDef="let row">{{row.accountGroup?.accountSubType?.name}}</td>
      </ng-container>

      <ng-container matColumnDef="group">
        <th mat-header-cell *matHeaderCellDef>{{'account-group'|translate}}</th>
        <td mat-cell *matCellDef="let row">{{row.accountGroup?.name}}</td>
      </ng-container>

      <ng-container matColumnDef="balance">
        <th mat-header-cell *matHeaderCellDef>{{'balance'|translate}}</th>
        <td mat-cell *matCellDef="let row">{{row.balance|number:'.2'}}</td>
      </ng-container>

      <ng-container matColumnDef="overdraft">
        <th mat-header-cell *matHeaderCellDef>{{'overdraft'|translate}}</th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox color="primary" [checked]="row.overdraft===true"></mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="manage">
        <th mat-header-cell *matHeaderCellDef>{{'action-and-status'|translate}}</th>
        <td mat-cell *matCellDef="let row;let i = index">
          <button type="button" (click)="edit(i, row)" class="btn btn-outline-primary m-1">
            {{'edit'|translate}}
          </button>
          <button type="button" (click)="delete(i,row)" class="btn btn-outline-danger m-1">
            {{'delete'|translate}}
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [length]="totalItems" (page)="pageChanged($event)" [pageSizeOptions]="perPageOptions" [pageIndex]="page"
                   [pageSize]="size"></mat-paginator>
  </mat-card-content>
</mat-card>
