<h6 mat-dialog-title>
  <mat-toolbar role="toolbar" class="dialog-header">
    <span>{{'budget-comment-form'|translate}}</span>
    <span class="fx-spacer"></span>
    <button mat-icon-button color="warn" type="button" (click)="close()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar>
</h6>
<div mat-dialog-content>
  <mat-form-field appearance="outline">
    <mat-label>{{'comment'|translate}}</mat-label>
    <textarea matInput placeholder="{{'comment'|translate}}" [formControl]="responseControl" required></textarea>
    <mat-error *ngIf="!responseControl.valid && responseControl.touched">
      {{'required'|translate}}
    </mat-error>
  </mat-form-field>
</div>
<div mat-dialog-actions class="my-3 justify-content-end">
  <button mat-raised-button color="primary" (click)="send()" type="button" [disabled]="!responseControl.valid">
    <mat-icon>save</mat-icon>
    {{'send-back'}}
  </button>
</div>
