<div class="bg">
  <div class="wrapper">
    <div class="form-signin">
      <div class="row">
        <div class="col-md-12 text-center">
          <div class="logo">
            <img class="img-response" src="assets/imgs/logo.png"/>
            <h5>Speedy Finances</h5>
            <span class="text-muted">Saccos Solution</span>
          </div>
        </div>
        <div class="col-md-12">
          <mat-card>
            <mat-card-title>Member Application Form <span *ngIf="company">::<strong>{{company.name}}</strong></span></mat-card-title>
            <mat-card-content>
              <mat-horizontal-stepper [linear]="isLinear" #stepper>
                <mat-step [stepControl]="companyFormGroup">
                  <form [formGroup]="companyFormGroup">
                    <ng-template matStepLabel>Company(Saccos)</ng-template>
                    <mat-form-field appearance="outline">
                      <mat-label>Company(Saccos) Number</mat-label>
                      <input matInput placeholder="Company(Saccos) Number" autocomplete="off" formControlName="company" required>
                      <mat-error *ngIf="!companyFormGroup.get('company').valid && companyFormGroup.get('company').touched">
                        Company(Saccos) Number is required
                      </mat-error>
                    </mat-form-field>
                    <div class="pull-right">
                      <button color="primary" [disabled]="companyFormGroup.get('company').invalid" type="button" (click)="resolveCompany()"
                              mat-raised-button matStepperNext>Next
                      </button>
                    </div>
                  </form>
                </mat-step>
                <mat-step [stepControl]="demographicDataFormGroup">
                  <form [formGroup]="demographicDataFormGroup">
                    <ng-template matStepLabel>Basic Data</ng-template>
                    <div class="row">
                      <div class="col-6">
                        <mat-form-field appearance="outline">
                          <mat-label>First Name</mat-label>
                          <input matInput placeholder="First Name" autocomplete="off" name="firstName" formControlName="firstName" required>
                          <mat-error *ngIf="!demographicDataFormGroup.get('firstName').valid && demographicDataFormGroup.get('firstName').touched">
                            First Name is required
                          </mat-error>
                        </mat-form-field>
                      </div>
                      <div class="col-6">
                        <mat-form-field appearance="outline">
                          <mat-label>Middle Name</mat-label>
                          <input matInput placeholder="Middle Name" autocomplete="off" formControlName="middleName" required>
                          <mat-error *ngIf="!demographicDataFormGroup.get('middleName').valid && demographicDataFormGroup.get('middleName').touched">
                            Middle Name is required
                          </mat-error>
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-6">
                        <mat-form-field appearance="outline">
                          <mat-label>Surname</mat-label>
                          <input matInput placeholder="Last Name" autocomplete="off" name="surname" (keyup)="setEmail()" formControlName="surname"
                                 required>
                          <mat-error *ngIf="!demographicDataFormGroup.get('surname').valid && demographicDataFormGroup.get('surname').touched">
                            Last Name is required
                          </mat-error>
                        </mat-form-field>
                      </div>
                      <div class="col-6">
                        <mat-radio-group formControlName="gender" aria-label="Select an option">
                          <mat-radio-button value="MALE">Male</mat-radio-button>
                          <mat-radio-button value="FEMALE">Female</mat-radio-button>
                        </mat-radio-group>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <mat-form-field appearance="outline">
                          <mat-label>{{'membership-type'|translate}}</mat-label>
                          <mat-select formControlName="type" required>
                            <mat-option *ngIf="!demographicDataFormGroup.get('type').value" [value]="null" aria-selected="true"></mat-option>
                            <mat-option
                              [value]="type.id === demographicDataFormGroup.get('type').value?.id? demographicDataFormGroup.get('type').value:type"
                              *ngFor="let type of memberTypes; trackBy: trackTypeId" value="type">
                              {{ type.name }}
                            </mat-option>
                          </mat-select>
                          <mat-error *ngIf="!demographicDataFormGroup.get('type').valid && demographicDataFormGroup.get('type').touched">
                            {{'required'|translate}}
                          </mat-error>
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="pull-right">
                      <button color="primary" mat-raised-button matStepperPrevious>Back</button>
                      <button color="primary" mat-raised-button class="mx-2"
                              [disabled]="demographicDataFormGroup.get('type').invalid  || demographicDataFormGroup.get('firstName').invalid || demographicDataFormGroup.get('middleName').invalid || demographicDataFormGroup.get('surname').invalid"
                              matStepperNext>Next
                      </button>
                    </div>
                  </form>
                </mat-step>
                <mat-step [stepControl]="referencePersonFormGroup">
                  <form [formGroup]="referencePersonFormGroup">
                    <ng-template matStepLabel>Reference Person</ng-template>
                    <div class="row">
                      <div class="col-6">
                        <mat-form-field appearance="outline">
                          <mat-label>Membership ID</mat-label>
                          <input matInput placeholder="referencePersonNumber" autocomplete="off" formControlName="referencePersonNumber">
                        </mat-form-field>
                      </div>
                      <div class="col-6">

                      </div>
                    </div>
                    <div class="pull-right">
                      <button color="primary" mat-raised-button matStepperPrevious>Back</button>
                      <button color="primary" mat-raised-button class="mx-2" matStepperNext>Next
                      </button>
                    </div>
                  </form>
                </mat-step>
                <mat-step [stepControl]="guarantorFormGroup">
                  <form [formGroup]="guarantorFormGroup" class="my-2">
                    <ng-template matStepLabel>Guarantors(Wadhamini)</ng-template>
                    <div class="row">
                      <div class="col-6">
                        <mat-form-field appearance="outline">
                          <mat-label>Guarantor ID</mat-label>
                          <input matInput placeholder="Guarantor Membership ID" autocomplete="off" formControlName="guarantor1" required>
                          <mat-error *ngIf="!guarantorFormGroup.get('guarantor1').valid && guarantorFormGroup.get('guarantor1').touched">
                            Guarantor No. 1 Membership ID is required
                          </mat-error>
                        </mat-form-field>
                      </div>
                      <div class="col-6">
                        <mat-form-field appearance="outline">
                          <mat-label>Guarantor ID</mat-label>
                          <input matInput placeholder="Guarantor Membership ID" autocomplete="off" formControlName="guarantor2" required>
                          <mat-error *ngIf="!guarantorFormGroup.get('guarantor2').valid && guarantorFormGroup.get('guarantor2').touched">
                            Guarantor No. 2 Membership ID is required
                          </mat-error>
                        </mat-form-field>
                      </div>
                    </div>
                    <div>
                      <button mat-raised-button matStepperPrevious>
                        <mat-icon>navigate_before</mat-icon>
                        Back
                      </button>
                      <button mat-raised-button matStepperNext class="mx-3" color="primary" *ngIf="guarantorFormGroup.valid">
                        <mat-icon>navigate_next</mat-icon>
                        Next
                      </button>
                    </div>
                  </form>
                </mat-step>
                <mat-step [stepControl]="authenticationFormGroup">
                  <form [formGroup]="authenticationFormGroup">
                    <ng-template matStepLabel>Login</ng-template>
                    <div class="row">
                      <div class="col-6">
                        <mat-form-field appearance="outline">
                          <mat-label>Email</mat-label>
                          <input matInput placeholder="Email" name="email" autocomplete="off" formControlName="email">
                        </mat-form-field>
                      </div>
                      <div class="col-6">
                        <mat-form-field appearance="outline">
                          <mat-label>Username</mat-label>
                          <input matInput placeholder="Username" name="username" autocomplete="off" formControlName="username" required>
                          <mat-error *ngIf="!authenticationFormGroup.get('username').valid && authenticationFormGroup.get('username').touched">
                            Username is required
                          </mat-error>
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-6">
                        <mat-form-field appearance="outline">
                          <mat-label>Mobile</mat-label>
                          <input matInput placeholder="255752936798" autocomplete="off" name="mobile" formControlName="mobile"
                                 required>
                          <mat-error *ngIf="!authenticationFormGroup.get('mobile').valid && authenticationFormGroup.get('mobile').touched">
                            Mobile is required
                          </mat-error>
                          <mat-error
                            *ngIf="authenticationFormGroup.controls['mobile'].hasError('required') || authenticationFormGroup.controls['mobile'].hasError('minlength')">
                            Mobile No. must 10 numerals
                          </mat-error>
                          <mat-error
                            *ngIf="authenticationFormGroup.controls['mobile'].hasError('required') || authenticationFormGroup.controls['mobile'].hasError('maxlength')">
                            Mobile No. must 10 numerals
                          </mat-error>
                        </mat-form-field>
                      </div>
                      <div class="col-6">

                      </div>
                    </div>
                    <div class="row my-2">
                      <div class="col-6">
                        <mat-form-field appearance="outline">
                          <mat-label>Password</mat-label>
                          <input matInput placeholder="Password" name="password" autocomplete="off" type="password" formControlName="password"
                                 required>
                          <mat-error
                            *ngIf="authenticationFormGroup.controls['password'].hasError('required') || authenticationFormGroup.controls['password'].hasError('minlength')">
                            Password must be at least 8 characters
                          </mat-error>
                          <mat-error
                            *ngIf="authenticationFormGroup.controls['password'].hasError('required') || authenticationFormGroup.controls['password'].hasError('hasNumber')">
                            Password must contain at least 1 number!
                          </mat-error>
                          <mat-error
                            *ngIf="authenticationFormGroup.controls['password'].hasError('required') || authenticationFormGroup.controls['password'].hasError('hasCapitalCase')">
                            Password must contain at least 1 capital case!
                          </mat-error>
                          <mat-error
                            *ngIf="authenticationFormGroup.controls['password'].hasError('required') || authenticationFormGroup.controls['password'].hasError('hasSmallCase')">
                            Password must contain at least 1 small case!
                          </mat-error>
                          <mat-error
                            *ngIf="authenticationFormGroup.controls['password'].hasError('required') || authenticationFormGroup.controls['password'].hasError('hasSpecialCharacters')">
                            Password must contain at least 1 special character!
                          </mat-error>
                        </mat-form-field>
                      </div>
                      <div class="col-6">
                        <mat-form-field appearance="outline">
                          <mat-label>Repeat Password</mat-label>
                          <input matInput placeholder="Repeat Password" autocomplete="off" type="password" name="passwordConfirmation"
                                 formControlName="passwordConfirmation" required>
                          <mat-error
                            *ngIf="!authenticationFormGroup.get('passwordConfirmation').valid && authenticationFormGroup.get('passwordConfirmation').touched">
                            Password Confirmation is required
                          </mat-error>
                          <mat-error
                            *ngIf="authenticationFormGroup.controls['passwordConfirmation'].hasError('NoPassswordMatch')">
                            Passwords must match
                          </mat-error>
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="pull-right">
                      <button color="primary" mat-raised-button matStepperPrevious>Back</button>
                      <button color="primary"
                              [disabled]="authenticationFormGroup.get('username').invalid || authenticationFormGroup.get('password').invalid"
                              mat-raised-button class="mx-2"
                              matStepperNext>Next
                      </button>
                    </div>
                  </form>
                </mat-step>
                <mat-step [stepControl]="acceptTermsFormGroup">
                  <form [formGroup]="acceptTermsFormGroup">
                    <ng-template matStepLabel>Accept Terms & Conditions</ng-template>
                    <div class="row">
                      <div class="col-12">
                        <ul class="list-group">
                          <li class="list-group-item">
                            A Speedy Finances Saccos Member must be an adult of 18 year and above.
                          </li>
                          <li class="list-group-item">
                            Speedy Finances has of admission, can at any time discontinue this service and or reject the application without giving
                            reasons for doing so.
                          </li>
                          <li class="list-group-item">
                            Speedy Finances has the right to change the information and services available from this system from time to time without
                            any prior notification
                          </li>
                          <li class="list-group-item">
                            Speedy Finances can vary these terms and conditions without giving prior notice
                          </li>
                          <li class="list-group-item">
                            Information Provided is mine and can be used against me in the court in case of any dispute
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-12">
                        <mat-checkbox color="primary" [checked]="acceptTermsFormGroup.get('acceptTerms').value" formControlName="acceptTerms">
                          Accept Terms & Conditions
                        </mat-checkbox>
                      </div>
                    </div>
                    <div class="pull-right">
                      <button color="primary" mat-raised-button matStepperPrevious>Back</button>
                      <button color="primary" [disabled]="!acceptTermsFormGroup.get('acceptTerms').value" class="mx-2" mat-raised-button
                              matStepperNext>Next
                      </button>
                    </div>
                  </form>
                </mat-step>
                <mat-step>
                  <ng-template matStepLabel>Submit Application</ng-template>
                  You are now done.
                  <div class="pull-right">
                    <button color="primary" mat-raised-button matStepperPrevious>Back</button>
                    <button color="warn" mat-raised-button class="mx-2" (click)="stepper.reset()">Reset</button>
                    <button mat-raised-button matStepperNext color="primary" class="mx-2"
                            (click)="register(companyFormGroup.value, demographicDataFormGroup.value, referencePersonFormGroup.value, guarantorFormGroup.value, authenticationFormGroup.value)">
                      <mat-icon>save</mat-icon>
                      Submit
                    </button>
                  </div>
                </mat-step>
              </mat-horizontal-stepper>
              <a routerLink="/auth/login" class="btn-link my-3">Login!</a>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>
