<form (ngSubmit)="store(formGroup.value)" [formGroup]="formGroup" novalidate>
  <h6 mat-dialog-title>
    <mat-toolbar role="toolbar" class="dialog-header">
      <span>{{title|translate}}</span>
      <span class="fx-spacer"></span>
      <button mat-icon-button color="warn" type="button" (click)="close()">
        <mat-icon mat-list-icon>close</mat-icon>
      </button>
    </mat-toolbar>
  </h6>
  <div mat-dialog-content>
    <mat-form-field appearance="outline">
      <mat-label>{{'account-type'|translate}}</mat-label>
      <mat-select formControlName="accountType" (selectionChange)="loadAccountSubTypes($event.value)">
        <mat-option *ngIf="!formGroup.get('accountType').value" [value]="null" aria-selected="true"></mat-option>
        <mat-option
          [value]="accountType.id === formGroup.get('accountSubType').value?.accountType?.id ? formGroup.get('accountType').value:accountType"
          *ngFor="let accountType of accountTypes; trackBy: trackAccountTypeId" value="accountType">
          {{ accountType.code }} - {{ accountType.name }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="!formGroup.get('accountType').valid && formGroup.get('accountType').touched">
        {{'required'|translate}}
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>{{'account-sub-type'|translate}}</mat-label>
      <mat-select formControlName="accountSubType">
        <mat-option *ngIf="!formGroup.get('accountSubType').value" [value]="null" aria-selected="true"></mat-option>
        <mat-option
          [value]="accountSubType.id === formGroup.get('accountSubType').value?.id? formGroup.get('accountSubType').value:accountSubType"
          *ngFor="let accountSubType of accountSubTypes; trackBy: trackAccountSubTypeId" value="accountSubType">
          {{ accountSubType.code }} - {{ accountSubType.name }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="!formGroup.get('accountSubType').valid && formGroup.get('accountSubType').touched">
        {{'required'|translate}}
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>{{'name'|translate}}</mat-label>
      <input matInput placeholder="{{'name'|translate}}" name="name" formControlName="name" required>
      <mat-error *ngIf="!formGroup.get('name').valid && formGroup.get('name').touched">
        {{'required'|translate}}
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>{{'code'|translate}}</mat-label>
      <input matInput placeholder="{{'code'|translate}}" formControlName="code" required>
      <mat-error *ngIf="!formGroup.get('code').valid && formGroup.get('code').touched">
        {{'required'|translate}}
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>{{'new-code'|translate}}</mat-label>
      <input matInput placeholder="{{'new-code'|translate}}" formControlName="newCode" required>
      <mat-error *ngIf="!formGroup.get('newCode').valid && formGroup.get('newCode').touched">
        {{'required'|translate}}
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>{{'balance-nature'|translate}}</mat-label>
      <mat-select formControlName="balanceNature">
        <mat-option *ngIf="!formGroup.get('balanceNature').value" [value]="null" aria-selected="true"></mat-option>
        <mat-option
          [value]="balanceNature.id === formGroup.get('balanceNature').value.id ? formGroup.get('balanceNature').value.id : balanceNature.id"
          *ngFor="let balanceNature of balanceNatureList" value="balanceNature.id">
          {{ balanceNature.name }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="!formGroup.get('balanceNature').valid && formGroup.get('balanceNature').touched">
        {{'required'|translate}}
      </mat-error>
    </mat-form-field>
  </div>
  <div mat-dialog-actions class="my-3 justify-content-end">
    <button mat-raised-button mat-dialog-close>
      <mat-icon>close</mat-icon>
      {{'close'|translate}}
    </button>
    <button mat-raised-button color="primary" type="submit" [disabled]="!formGroup.valid">
      <mat-icon>save</mat-icon>
      {{'save'|translate}}
    </button>
  </div>
  <div mat-dialog-actions *ngIf="loading">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
</form>
