<form (ngSubmit)="reset(formGroup.value)" [formGroup]="formGroup" novalidate>
  <h6 mat-dialog-title>{{user.number}} - {{user.firstName}} {{user.firstName}}</h6>
  <div mat-dialog-content>
    <mat-form-field appearance="outline" class="material-form">
      <mat-label class="label-mat">New Password</mat-label>
      <input type="password" autocomplete="off" formControlName="password" matInput placeholder="New Password" required/>
      <mat-error *ngIf="formGroup.controls['password'].hasError('required')">
        New Password is required
      </mat-error>
      <mat-error *ngIf="formGroup.controls['password'].hasError('required') || formGroup.controls['password'].hasError('minlength')">
        Password should be at least 8 characters
      </mat-error>
      <mat-error *ngIf="formGroup.controls['password'].hasError('required') || formGroup.controls['password'].hasError('hasNumber')">
        Password should be at least contain a number
      </mat-error>
      <mat-error *ngIf="formGroup.controls['password'].hasError('required') || formGroup.controls['password'].hasError('hasCapitalCase')">
        Password should be at least contain a upper case letter
      </mat-error>
      <mat-error *ngIf="formGroup.controls['password'].hasError('required') || formGroup.controls['password'].hasError('hasSmallCase')">
        Password should be at least contain a lower case letter
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" class="my-5">
      <mat-label class="label-mat">Confirm New Password</mat-label>
      <input type="password" autocomplete="off" formControlName="passwordConfirmation" matInput placeholder="Confirm New Password" required/>
      <mat-error *ngIf="formGroup.controls['passwordConfirmation'].hasError('required')">
        New Password confirmation is required
      </mat-error>
      <mat-error *ngIf="formGroup.controls['passwordConfirmation'].hasError('NoPasswordMatch')">
        Password confirmation does not match
      </mat-error>
    </mat-form-field>
  </div>
  <div mat-dialog-actions class="my-3">
    <button mat-raised-button mat-dialog-close>
      <mat-icon>close</mat-icon>
      Cancel
    </button>
    <button mat-raised-button color="primary" type="submit" [disabled]="!formGroup.valid">
      <mat-icon>save</mat-icon>
      Save
    </button>
  </div>
  <div mat-dialog-actions *ngIf="loading">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
</form>
