.bottom-sheet-container {
  .bottom-sheet-header {
    padding: 1.0rem;
    text-align: center;

    h2 {
      font-size: 18px !important;
      font-weight: bold;
    }
  }

  .bottom-sheet-content {
    padding: 1.2rem 1.5rem;
  }
}
