<div class="bottom-sheet-container">
  <div color="primary" class="bottom-sheet-header">
    <h2>About Speedy Finances</h2>
  </div>
  <div class="bottom-sheet-content">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Maecenas ex nisi, mattis fermentum nulla a, varius
      aliquet orci. Proin non ligula massa. Maecenas imperdiet mauris eu massa congue, quis sollicitudin nunc
      iaculis.<br /> Nulla aliquet ante et aliquam iaculis. Donec luctus augue in condimentum ornare. Sed non posuere
      massa. In maximus erat odio,quis feugiat lorem euismod a. Vestibulum erat risus, sodales ac nulla auctor, semper
      feugiat lacus. Praesent lobortis,
      lorem non laoreet porttitor, purus massa tincidunt ex, in ullamcorper urna justo sollicitudin turpis.<br /> Ut
      gravida exac
      enim rhoncus, at tincidunt ex vulputate. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
      inceptos himenaeos. Integer ullamcorper ipsum quis luctus viverra. Aliquam erat volutpat. Nulla fringilla
      efficitur ante, a tincidunt dui tincidunt eu. Integer porttitor quam est.
    </p>
    <p>
      Suspendisse lectus ligula, dignissim sit amet ornare sit amet, aliquet id velit. Proin et tempus libero.
      Pellentesque dignissim sapien risus, et laoreet odio sagittis ac. Pellentesque pretium lorem lectus, et interdum
      risus tristique ut. Nunc lectus dolor, bibendum eu justo sed, dictum dictum sem. Sed porttitor quam metus, at
      interdum diam lacinia nec. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque et nulla
      lobortis, facilisis urna in, malesuada turpis. In sed purus tempor arcu pellentesque tristique condimentum in
      ligula. Curabitur venenatis gravida lacus sit amet pulvinar.
    </p>
  </div>
</div>
