<h6 mat-dialog-title>
  <mat-toolbar role="toolbar" class="dialog-header">
    <span>{{'current-user-verification'|translate}}</span>
    <span class="fx-spacer"></span>
    <button mat-icon-button color="warn" type="button" (click)="close()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar>
</h6>
<div mat-dialog-content>
  <mat-card>
    <mat-card-title>Enter your Password & verification code sent to your mobile</mat-card-title>
    <mat-card-content>
      <div class="alert alert-success">
        Check your phone ending in *** *** {{loadLastFour()}} for a verification message or automated phone call.
        Didn't receive anything? <br/>
        <button type="button" mat-button color="primary" (click)="resendOtp()">Request a new code.</button>
      </div>
      <div class="row">
        <div class="col-8">
          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" [formControl]="passwordControl" name="password" placeholder="{{'password'|translate}}"
                   autocomplete="off"/>
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
        </div>
        <div class="col-4">
          <mat-form-field appearance="outline">
            <mat-label>{{'verification-code'|translate}}</mat-label>
            <input matInput placeholder="{{'verification-code'|translate}}" name="otpnum" [formControl]="otpControl" type="text"
                   autocomplete="off">
            <mat-icon matSuffix>lock</mat-icon>
          </mat-form-field>
        </div>
      </div>
      <div class="login-button">
        <button (click)="validateOtp()" type="button" [disabled]="otpControl.invalid || passwordControl.invalid" class="btn-block" mat-flat-button
                color="primary">
          <i class="fa fa-sign-in"></i> Approve
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
