th.mat-header-cell {
  text-align: center;
  border: 1px solid #ccc;
  padding: 4px !important;
}

td.mat-cell {
  text-align: right;
  border: 1px solid #ccc;
  padding: 4px !important;
}

td.mat-footer-cell {
  text-align: right;
  border: 1px solid #ccc;
  padding: 4px !important;
}
