<h6 mat-dialog-title>
  <mat-toolbar role="toolbar" class="dialog-header">
    <span>{{loanProduct?.name}} {{'loan-registry'|translate}}</span>
    <span class="fx-spacer"></span>
    <button mat-button color="primary" routerLink="/app/self-service/loans/apply" matTooltip="Apply New">
      <mat-icon svgIcon="add"></mat-icon>
    </button>
    <button mat-button color="primary" (click)="loanRepaymentSubmissionHistory()" matTooltip="Loan Repayments">
      <mat-icon svgIcon="list"></mat-icon>
    </button>
    <button mat-icon-button color="warn" type="button" (click)="close()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar>
</h6>
<div mat-dialog-content>
  <div class="mat-elevation-z0">
    <table mat-table [dataSource]="getLoans()">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>#</th>
        <td mat-cell *matCellDef="let row;let i = index">{{i + 1}}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="dateApplied">
        <th mat-header-cell *matHeaderCellDef>{{'date-applied'|translate}}</th>
        <td mat-cell *matCellDef="let row">{{row.dateApplied|date:'MMMM d, y'}}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="dateDisbursed">
        <th mat-header-cell *matHeaderCellDef>{{'date-disbursed'|translate}}</th>
        <td mat-cell *matCellDef="let row">
          <span *ngIf="row.disbursed">{{row.dateDisbursed|date:'MMMM d, y'}}</span>
          <span *ngIf="!row.disbursed">Pending</span>
        </td>
        <td mat-footer-cell *matFooterCellDef><strong>Page Total:</strong></td>
      </ng-container>

      <ng-container matColumnDef="loan">
        <th mat-header-cell *matHeaderCellDef>{{'loan'|translate}}</th>
        <td mat-cell *matCellDef="let row">{{row.amountApproved|number:'.2'}}</td>
        <td mat-footer-cell *matFooterCellDef><b>{{getTotalAmountApproved()|number:'.2'}}</b></td>
      </ng-container>

      <ng-container matColumnDef="product">
        <th mat-header-cell *matHeaderCellDef>Product</th>
        <td mat-cell *matCellDef="let row">{{row.loanProduct?.name}}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef>{{'type'|translate}}</th>
        <td mat-cell *matCellDef="let row">{{row.type?.name}}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="tenure">
        <th mat-header-cell *matHeaderCellDef>{{'installments'|translate}}</th>
        <td mat-cell *matCellDef="let row">{{row.tenure}}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="interest">
        <th mat-header-cell *matHeaderCellDef>{{'interest'|translate}}</th>
        <td mat-cell *matCellDef="let row">
          <span>{{(row.interest)|number:'.2'}}</span>
        </td>
        <td mat-footer-cell *matFooterCellDef><b>{{getTotalInterest()|number:'.2'}}</b></td>
      </ng-container>

      <ng-container matColumnDef="deductions">
        <th mat-header-cell *matHeaderCellDef>{{'deductions'|translate}}</th>
        <td mat-cell *matCellDef="let row">
          <span>{{deductions(row)|number:'.2'}}</span>
        </td>
        <td mat-footer-cell *matFooterCellDef><b>{{getTotalDeductions()|number:'.2'}}</b></td>
      </ng-container>

      <ng-container matColumnDef="net">
        <th mat-header-cell *matHeaderCellDef>{{'net'|translate}}</th>
        <td mat-cell [ngClass]="{'new-loan-text': (row.reviewed===true && !row.approved) }"
            *matCellDef="let row">{{row.amountDisbursed|number:'.2'}}</td>
        <td mat-footer-cell *matFooterCellDef><strong>{{getTotalNet()|number:'.2'}}</strong></td>
      </ng-container>

      <ng-container matColumnDef="amountDisbursed">
        <th mat-header-cell *matHeaderCellDef>{{'net'|translate}}</th>
        <td mat-cell *matCellDef="let row">{{row.amountDisbursed|number:'.2'}}</td>
        <td mat-footer-cell *matFooterCellDef><b>{{getTotalAmountDisbursed()|number:'.2'}}</b></td>
      </ng-container>

      <ng-container matColumnDef="principalRepaid">
        <th mat-header-cell *matHeaderCellDef>{{'principal-repaid'|translate}}</th>
        <td mat-cell *matCellDef="let row">{{(row.principalRepaid ? row.principalRepaid : 0)|number:'.2'}}</td>
        <td mat-footer-cell *matFooterCellDef><b>{{getTotalPrincipalRepaid()|number:'.2'}}</b></td>
      </ng-container>

      <ng-container matColumnDef="interestRepaid">
        <th mat-header-cell *matHeaderCellDef>{{'interest-repaid'|translate}}</th>
        <td mat-cell *matCellDef="let row">{{(row.interestRepaid ? row.interestRepaid : 0)|number:'.2'}}</td>
        <td mat-footer-cell *matFooterCellDef><b>{{getTotalInterestRepaid()|number:'.2'}}</b></td>
      </ng-container>

      <ng-container matColumnDef="pendingPrincipal">
        <th mat-header-cell *matHeaderCellDef>Pending Principal</th>
        <td mat-cell *matCellDef="let row">
          <span *ngIf="row.disbursed">{{(row.amountApproved - row.principalRepaid)|number:'.2'}}</span>
          <span *ngIf="!row.disbursed">pending</span>
        </td>
        <td mat-footer-cell *matFooterCellDef><b>{{getTotalPendingPrincipal()|number:'.2'}}</b></td>
      </ng-container>

      <ng-container matColumnDef="pendingInterest">
        <th mat-header-cell *matHeaderCellDef>Pending Interest</th>
        <td mat-cell *matCellDef="let row">
          <span *ngIf="row.disbursed">{{(row.interest - row.interestRepaid)|number:'.2'}}</span>
          <span *ngIf="!row.disbursed">pending</span>
        </td>
        <td mat-footer-cell *matFooterCellDef><b>{{getTotalPendingInterest()|number:'.2'}}</b></td>
      </ng-container>

      <ng-container matColumnDef="totalPendingLoan">
        <th mat-header-cell *matHeaderCellDef>Total Pending Loan</th>
        <td mat-cell *matCellDef="let row">
          <span *ngIf="row.disbursed">{{((row.amountApproved - row.principalRepaid) + (row.interest - row.interestRepaid))|number:'.2'}}</span>
          <span *ngIf="!row.disbursed">pending</span>
        </td>
        <td mat-footer-cell *matFooterCellDef><b>{{getTotalPendingLoan()|number:'.2'}}</b></td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Stage</th>
        <td mat-cell *matCellDef="let row;let i = index">
          <button *ngIf="!row.approved && !row.rejected" type="button" [disabled]="true" class="btn btn-outline-info">
            Pending
          </button>
          <button *ngIf="row.approved && !row.disbursed" type="button" [disabled]="true" class="btn btn-outline-info">
            Approved
          </button>
          <button *ngIf="row.disbursed" type="button" [disabled]="true" class="btn btn-outline-success">
            Disbursed
          </button>
          <button *ngIf="row.rejected" type="button"
                  class="btn btn-outline-danger m-1"
                  ngbPopover="{{row.rejectionMessage}}"
                  triggers="mouseenter:mouseleave"
                  popoverTitle="Loan Rejected">
            Rejected
          </button>
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="manage">
        <th mat-header-cell *matHeaderCellDef>More Options</th>
        <td mat-cell *matCellDef="let row;let i = index">
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="downloadLoanApplicationForm(row)">
              <mat-icon>picture_as_pdf</mat-icon>
              <span>{{'download'|translate}}</span>
            </button>
            <button mat-menu-item *ngIf="row.disbursed" (click)="topUp(row)">
              <mat-icon svgIcon="add_more"></mat-icon>
              <span>Topup</span>
            </button>
            <button mat-menu-item (click)="collateral(i, row)">
              <mat-icon>list</mat-icon>
              <span>Collateral Committed</span>
            </button>
            <button mat-menu-item (click)="guarantor(i, row)">
              <mat-icon>list</mat-icon>
              <span>Loan Guarantor List</span>
            </button>
            <button mat-menu-item (click)="usage(i, row)">
              <mat-icon>list</mat-icon>
              <span>Loan Usage Breakdown</span>
            </button>
            <button mat-menu-item (click)="repayments(i, row)">
              <mat-icon>list</mat-icon>
              <span>Amortization Schedule</span>
            </button>
            <button mat-menu-item (click)="contract(row)">
              <mat-icon>dialpad</mat-icon>
              <span>{{'contract'|translate}}</span>
            </button>
            <button mat-menu-item *ngIf="!row.approved" (click)="delete(i, row)">
              <mat-icon>dialpad</mat-icon>
              <span>Delete</span>
            </button>
          </mat-menu>
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
    </table>
  </div>
  <mat-paginator [length]="totalItems" (page)="pageChanged($event)" [pageSizeOptions]="perPageOptions"
                 [pageIndex]="page"
                 [pageSize]="size">
  </mat-paginator>
</div>
