<mat-card class="mat-elevation-z0">
  <mat-card-title>
    <mat-toolbar>
      <span>{{'budget-upload'|translate}}</span>
      <span class="custom-spacer"></span>
      <button mat-button color="warn" type="button" (click)="close()" matTooltip="Close">
        <mat-icon>close</mat-icon>
      </button>
    </mat-toolbar>
  </mat-card-title>
  <mat-card-content>
    <div class="row">
      <div class="col-12">
        <button mat-raised-button color="primary" (click)="downloadUploadTemplate()">
          <mat-icon>list</mat-icon>
          {{'download-template'|translate}}
        </button>
      </div>
    </div>
    <div class="row my-2">
      <div class="col-3">
        <mat-form-field appearance="outline">
          <mat-label>{{'financial-year'|translate}}</mat-label>
          <mat-select [formControl]="yearControl" required>
            <mat-option *ngFor="let financialYear of financialYears" [value]="financialYear">
              {{financialYear.name }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="!yearControl.valid && yearControl.touched">
            {{'required'|translate}}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-3" *ngIf="yearControl.value?.id > 0">
        <p>{{'committee-budget-document'|translate}}</p>
        <input type="file" placeholder="Receipt" aria-label="Document" aria-describedby="path"
               [formControl]="boardBudgetDocumentControl"
               accept=".pdf"
               (change)="onFileChange($event)" id="boardBudgetDocumentControl" name="boardBudgetDocumentControl">
      </div>
      <div class="col-3 form-group" *ngIf="boardBudgetDocumentControl.value">
        <p>{{'budget-excel-file-to-upload'|translate}}</p>
        <input type="file" (change)="uploadedFile($event)" placeholder="Upload file"
               accept=".xlsx">
      </div>
      <div class="col-3 form-group" *ngIf="boardBudgetDocumentControl.value">
        <button mat-raised-button color="primary" *ngIf="fileUploaded" (click)="preview()">
          <mat-icon>preview</mat-icon>
          {{'preview-data'|translate}}
        </button>
      </div>
    </div>
    <div class="row" *ngIf="revenueProjectionItems.length > 0 || expenditureEstimateItems.length > 0">
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <thead>
          <tr>
            <th>{{'item'|translate}}</th>
            <th>{{'code'|translate}}</th>
            <th><span class="pull-right">{{'budget'|translate}}</span></th>
            <th><span class="pull-right">{{'actual'|translate}}</span></th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <th colspan="4"><strong>{{'revenue-projection'|translate}}</strong></th>
          </tr>
          <tr *ngFor="let revenueProjection of revenueProjectionItems;let i = index">
            <td>{{revenueProjection.item}}</td>
            <td>{{revenueProjection.code}}</td>
            <td><span class="pull-right">{{revenueProjection.budget|number:'.2'}}</span></td>
            <td><span class="pull-right">{{revenueProjection.actual|number:'.2'}}</span></td>
          </tr>
          <tr>
            <th colspan="2"><strong>{{'total-revenue-projection'|translate}}</strong></th>
            <th><span class="pull-right">{{totalRevenueProjection()|number:'.2'}}</span></th>
            <th><span class="pull-right">{{totalActualRevenue()|number:'.2'}}</span></th>
          </tr>
          <tr>
            <th colspan="4"></th>
          </tr>
          <tr>
            <th colspan="4"><strong>{{'expenditure-estimates'|translate}}</strong></th>
          </tr>
          <tr *ngFor="let expenditureEstimate of expenditureEstimateItems;let i = index">
            <td>{{expenditureEstimate.item}}</td>
            <td>{{expenditureEstimate.code}}</td>
            <td><span class="pull-right">{{expenditureEstimate.budget|number:'.2'}}</span></td>
            <td><span class="pull-right">{{expenditureEstimate.actual|number:'.2'}}</span>
          </tr>
          <tr>
            <th colspan="2"><strong>{{'total-expenditure-estimates'|translate}}</strong></th>
            <th><span class="pull-right">{{totalExpenditureEstimates()|number:'.2'}}</span></th>
            <th><span class="pull-right">{{totalActualExpenditure()|number:'.2'}}</span></th>
          </tr>

          <tr>
            <th colspan="4"><strong>{{'extra-ordinary-revenue'|translate}}</strong></th>
          </tr>
          <tr *ngFor="let extra of extraOrdinaryItems;let i = index">
            <td>{{extra.item}}</td>
            <td>{{extra.code}}</td>
            <td><span class="pull-right">{{extra.budget|number:'.2'}}</span></td>
            <td><span class="pull-right">{{extra.actual|number:'.2'}}</span>
          </tr>
          <tr>
            <th colspan="2"><strong>{{'total-extra-ordinary-projection'|translate}}</strong></th>
            <th><span class="pull-right">{{totalExtraOrdinaryProjection()|number:'.2'}}</span></th>
            <th><span class="pull-right">{{totalActualExtra()|number:'.2'}}</span></th>
          </tr>
          </tbody>
          <tfoot>
          <tr>
            <td colspan="2"></td>
            <td colspan="2">
              <button mat-raised-button class="pull-right" [disabled]="items.length === 0 || yearControl.invalid || boardBudgetDocumentControl.invalid" color="primary" (click)="upload()">
                <mat-icon>save</mat-icon> Upload
              </button>
            </td>
          </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </mat-card-content>
</mat-card>
