<div>
  <button mat-icon-button [matMenuTriggerFor]="notificationMenu" [disabled]="!notifications" (click)="read()" matTooltip="Notifications" aria-label="Notification Dropdown">
    <mat-icon matBadge="{{ notifications.length }}" matBadgePosition="above after" matBadgeColor="warn"
      aria-label="Notifications icon">
      <i class="material-icons">notifications</i>
    </mat-icon>
  </button>

  <mat-menu #notificationMenu="matMenu">
    <div class="menu-content">
      <mat-list *ngFor="let notification of notifications.slice().reverse()">
        <mat-list-item (click)="openMessage(notification)">
          <mat-icon color="primary" matListIcon>comment</mat-icon>
          <h4 matLine> {{ notification.title }} </h4>
          <p matLine><span> {{ notification.message }}</span></p>
          <small matLine> {{ notification.time|date:'medium' }} </small>
        </mat-list-item>
        <mat-divider></mat-divider>
      </mat-list>
    </div>
  </mat-menu>
</div>
