<div class="content justify-content-center" fxLayout="row wrap" fxLayoutGap="16px grid">
  <div fxFlex="20%" fxFlex.xs="100%" fxFlex.sm="33%">
    <mat-card class="mat-elevation-z4 matcard clickable" [routerLink]="'/app/planning-and-budgeting/planning/activities'">
      <mat-card-content>
        <mat-icon svgIcon="setup"></mat-icon>
        <h6>{{'activities'|translate }}</h6>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex="20%" fxFlex.xs="100%" fxFlex.sm="33%">
    <mat-card class="mat-elevation-z4 matcard clickable" [routerLink]="'/app/planning-and-budgeting/planning/strategies'">
      <mat-card-content>
        <mat-icon svgIcon="setup"></mat-icon>
        <h6>{{'strategies'|translate }}</h6>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex="20%" fxFlex.xs="100%" fxFlex.sm="33%">
    <mat-card class="mat-elevation-z4 matcard clickable" [routerLink]="'/app/planning-and-budgeting/planning/targets'">
      <mat-card-content>
        <mat-icon svgIcon="setup"></mat-icon>
        <h6>{{'targets'|translate }}</h6>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex="20%" fxFlex.xs="100%" fxFlex.sm="33%">
    <mat-card class="mat-elevation-z4 matcard clickable" [routerLink]="'/app/planning-and-budgeting/planning/objectives'">
      <mat-card-content>
        <mat-icon svgIcon="setup"></mat-icon>
        <h6>{{'objectives'|translate }}</h6>
      </mat-card-content>
    </mat-card>
  </div>

  <div fxFlex="20%" fxFlex.xs="100%" fxFlex.sm="33%">
    <mat-card class="mat-elevation-z4 matcard clickable" [routerLink]="'/app/planning-and-budgeting/planning/financial-year-plans'">
      <mat-card-content>
        <mat-icon svgIcon="setup"></mat-icon>
        <h6>{{'financial-year-plans'|translate }}</h6>
      </mat-card-content>
    </mat-card>
  </div>

  <div fxFlex="20%" fxFlex.xs="100%" fxFlex.sm="33%">
    <mat-card class="mat-elevation-z4 matcard clickable" [routerLink]="'/app/planning-and-budgeting/planning/fund-sources'">
      <mat-card-content>
        <mat-icon svgIcon="setup"></mat-icon>
        <h6>{{'fund-sources'|translate }}</h6>
      </mat-card-content>
    </mat-card>
  </div>
</div>
